

/* region GENERAL */

html{
    padding: 0;
    margin: 0;
}

body{
    background:black;
    color:white;
    padding: 0;
    margin: 0;
}
a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color: crimson;
    cursor: pointer;
}

.container_page{
    width: 100vw;
    height: 100vh;
}

/* endregion */

/* region HOMEPAGE */
#Homepage .Title{
    text-align: center;
    padding-top: 10px;
    clear: both;
}

#Homepage .homepage_login_container{
    width: 400px;
    height: 350px;
    border:1px solid #531919;
    margin:10px auto;
}


#Homepage .homepage_login_container form{
    text-align: center;
}


#Homepage .homepage_login_container input{
    margin: 5px 0;
}

#Homepage .homepage_login_container .homepage_other{
    margin-top: 30px;
    text-align: center;
}


#Homepage .homepage_login_container .homepage_other .other_voice a{
    color: crimson;
}

/* endregion */

/* region SIGNIN */

#Signin{
    width: 200px;
    padding-top: 20px;
    height: 200px;
    text-align: center;
    margin:0 auto;
}

#Signin input:not([type='submit']){
    margin-bottom: 10px;
    background-color: grey;
}

/* endregion */